
.wwd-title{
  font-family: Cerebri Sans;
font-size: 48px;
font-style: normal;
font-weight: 500;
letter-spacing: 0em;
text-align: left;

}
.wwd-body{
  width: 100vw;
height: 1000vh;

background: #00B2FF;
box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);

font-size: 48px;
font-style: normal;
font-weight: 500;
letter-spacing: 0em;
text-align: left;
}


.wwd-title{
  position: absolute;
  width: 20vw;
  height: 10vh;
  left: 2vh;
  top: 4vh;

font-family: Cerebri Sans;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 0%;


display: flex;
align-items: center;

color: #FFFFFF;

}

#project{
  position: absolute;

left: 6vh;
top: 18vh;

font-family: Cerebri Sans;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 32px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

}
 #competitions{
  position: absolute;

  left: 45vh;
  top: 18vh;
  
  font-family: Cerebri Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  /* identical to box height */
  
  
  color: #FFFFFF;
  
 }

.wwd-cards{
  position: absolute;
  top: 30vh;
width: 92vw;
left: 6vh;
}

.wwd-button{
margin-left: 22vh;
border: 1px dashed #8DDDFF;
font-size: 24px;
border-radius: 100px;


}

.wwd-card-text{
  font-size: 2rem;
}

.wwd-p{
  margin-top: -32px;
    margin-bottom: -1rem;
}


.card-body{
/* position: absolute; */
width: 283px;
height: 48px;
/* left: 59px;
top: 1517px; */

font-family: Cerebri Sans;
font-style: normal;
font-weight: 300;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;

color: #8DDDFF;

}